.roles-container {
  margin-top: 20px;
  /* padding-inline: 1.5rem; */
  height: 600px;
  z-index: 1;
}

.section-title {
  padding-inline: var(--white-space);
}

.roles-container > .gallary {
  position: relative;
  overflow-x: auto;
  z-index: 2;
}

.overfow-flex {
  padding-inline: var(--white-space);
  overflow-x: visible;
  display: flex;
  gap: 20px;
  width: fit-content;
}

.roles-container > .bg-rectangle {
  position: relative;
  width: 70%;
  height: 350px;
  top: -350px;
  background-image: var(--blue-gradient);
  z-index: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

@media screen and (min-width: 1050px) {
  .roles-container {
    margin-top: 80px;
  }
}
