.section-container {
  display: flex;
  flex-direction: column;
  margin-inline: var(--white-space);
  --card-bg: var(--dark-grey);
}

.stars-1 {
  position: relative;
  right: 50%;
  transform: translateX(50%);
  top: -10px;
  background-image: url('../../../assests/SVG/stars.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 170px;
  height: 70px;
  z-index: 1;
}

.sortiesCard {
  background-color: var(--card-bg);
  border-radius: 6px;
  margin-block: 6px;
  min-height: 100px;
  z-index: 5;
}

@media screen and (min-width: 1050px) {
  .sortiesCard {
    width: 500px;
  }

  .stars-1 {
    position: absolute;
    height: 170px;
  }
}