.section-container {
  display: flex;
  flex-direction: column;
  margin-inline: var(--white-space);
  --card-bg: var(--dark-grey);
  background-color: var(--black);
}

.stars-1 {
  position: relative;
  right: 50%;
  transform: translateX(50%);
  top: -10px;
  background-image: url('../../../assests/SVG/stars.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 170px;
  height: 70px;
  z-index: 1;
}

.sortiesCard {
  /* background-color: var(--black); */
  border-bottom: 1px solid var(--border-color);
  /* border-radius: 6px; */
  /* margin-block: 6px; */
  z-index: 5;
}

@media screen and (min-width: 913px) {
  .sortiesCard {
    width: fit-content;
    max-width: 600px;
  }

  .stars-1 {
    position: absolute;
    height: 170px;
  }
}