.opening-container {
  height: fit-content;
  grid-template-rows: auto auto;
  height: fit-content;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1;
}

.header > * {
  justify-self: start;
  margin-inline: var(--white-space);
  padding-left: 15px;
}

.logo {
  z-index: 100;
  position: relative;
  width: 70px;
  height: 70px;
  align-self: flex-start;
  margin-top: 20px;
  background-image: url('../../assests/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.figure {
  position: absolute;
  width: 100vw;
  top: 0;
  opacity: 0.7;
  height: 750px;
}

.hero {
  position: relative;
  top: 0px;
  height: 100%;
  background-image: url(../../assests/SVG/bg-3.svg);
  background-size: 650px;
  background-position-y: 47%;
  background-position-x: -30px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 650px) {
  .hero {
    background-size: 900px;
    background-position-y: 40%;
  }

  .logo {
    position: relative;
    width: 100px;
    height: 100px;
    background-position-x: 200%;
  }
}

@media screen and (min-width: 850px) {
  .hero {
    background-size: 1100px;
    background-position-y: 42%;
  }
}

@media screen and (min-width: 1050px) {
  .hero {
    background-size: 1000px;
    background-position-y: 40%;
  }

  .header {
    text-align: right;
  }
  .opening-title {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-size: 1350px;
    background-position-y: 47%;
  }

  .header {
    text-align: right;
  }

}