.info-page {
  background-color: var(--black);
  display: grid;
  overflow: hidden;
  grid-template-columns: 100vw;
  grid-template-rows: 603px auto auto;
  min-height: 100vh;
}


.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 650px) {
  .info-page {
    grid-template-rows: 750px auto auto;
  }
}

@media screen and (min-width: 850px) {
  .info-page {
    grid-template-rows: 800px auto auto;
  }
}

@media screen and (min-width: 1050px) {
  .info-page {
    grid-template-rows: 280px auto auto;
  }
}
