.option-card {
  width: 97.5%;
  min-height: 240px;
  height: fit-content;
  background-color: var(--dark-grey);
  margin: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.condition-header {
  font-family: var(--font-family);
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--white);
  word-break: break-word;
  display: block;
  margin-right: 1rem;
  margin-top: 1rem;
}

.condition-header::after {
  content: "";
  position: relative;
  display: block;
  background-image: var(--yellow-gradient);
  width: 84px;
  height: 4px;
  margin-top: 0.5rem;
  border-radius: 6px;
  margin-top: 0.4rem;
}

.condition-icon {
  width: 120px;
  padding-left: 20px;
  /* display: block;
  margin-right: auto;
  margin-left: auto; */
  /* margin-top: 2.3rem; */
}

.condition-info {
  font-family: var(--font-family);
  font-size: 1.1rem;
  color: var(--white);
  font-weight: 200;
  line-height: 1.5em;
  word-break: break-word;
  max-width: 80%;
}

.icon-info-container {
  display: flex;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  margin-right: 2rem;
  margin-left: 2rem;
  align-items: center;
}

.line-class {
  margin-left: 2rem;
  height: 100px;
  transform: scaleX(2);
  border-radius: 6px;
  border-color: var(--border-color);
}
