.article-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  --border-radius: 20px;
  border-radius: var(--border-radius);
}

.article-container > *:not(.article-image) {
  padding: 1rem;
}

.article-image {
  position: relative;
  height: 300px;
  border: none;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.close-btn {
  cursor: pointer;
  content: "";
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../../../assests/close.svg");
  aspect-ratio: 1;
  width: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.brief {
  border-bottom: 1px solid var(--border-color);
}

.about-role {
  margin-top: 30px;
  margin-right: 20px;
}


.about-role li {
  margin-bottom: 30px;
}