.App {
  background-color: var(--black);
  display: grid;
  grid-template-columns: 100vw;
  height: 100vh;
  grid-template-rows: 603px auto auto;
}


.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}