@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik:wght@300;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: 'Rubik', 'Arial';
  --black: #030B12;
  --dark-grey: #0F1A23;
  --light-grey: #7289A6;
  --cta-color: #A5BDDA;
  --white: #fff;
  --yellow-gradient: linear-gradient(90deg, rgba(255, 226, 116, 1) 0%, rgba(239, 160, 124, 1) 100%);
  
}

html {
  width: 100vw;
  height: 100vh;
}

::selection {
  background-color: #294255;
}

body {
  overflow-x: hidden;
  scrollbar-gutter: auto;
  direction: rtl;
  font-family: var(--font-family);
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
}

.title {
  font-size: 2.7rem;
  font-weight: 700;
  color: var(--white);
  word-break: break-word;
}

.subTitle {
  color: var(--light-grey);
  font-weight: 200;
  letter-spacing: 0.24rem;
  /* margin-block: 0.5rem; */
  line-height: 2rem;
  word-break: break-word;
}

.sectionTitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  word-break: break-word;
  margin-bottom: 1rem;
}

.sectionTitle::after {
  content: '';
  position: relative;
  display: block;
  background-image: var(--yellow-gradient);
  width: 84px;
  height: 4px;
  margin-top: 0.5rem;
  border-radius: 6px;
}

.cartTitle {
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
  font-weight: 600;
  color: var(--white);
  word-break: break-word;
}

.text {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 200;
  color: var(--light-grey);
  word-break: break-word;
}