.card {
  background-color: var(--card-bg);
  border-radius: 6px;
  /* margin-block: 6px; */
  min-height: 100px;
  z-index: 5;
}

.card > *:not(:first-child) *:not(:last-child) {
  padding-inline: 1rem;
}
