.gallar-card-container {
  width: 300px;
  height: 400px;
  margin-bottom: 30px;
  display: grid;
  grid-template-rows: 50% auto 100px 50px;
  cursor: pointer;
  --card-text-color: var(--text-color);
  --card-bg: var(--dark-grey);
  --card-title: var(--white);
  --arrow-color: var(--cta-color);
  transition: all 200ms ease;
}

.gallar-card-container:hover {
  --card-bg: var(--white);
  --card-title: var(--dark-grey);
  --arrow-color: var(--grey);
  --card-text-color: var(--grey);
  transition: all 200ms ease;
}

.gallary-image--container {
  overflow: hidden;
}

.gallary-image {
  grid-row: 1;
  width: 100%;
  background-color: var(--dark-grey);
  border: none;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background-repeat: no-repeat;
  border-bottom: 1px solid var(--border-color);
}
.h3 {
  grid-row: 2;
  color: var(--card-title);
}

.text-area {
  width: 300px;
  grid-row: 3;
  /* height: 130px; */
  display: inline-block;
  /* white-space: nowrap; */
  overflow: hidden;
}

.text {
  color: var(--card-text-color);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.icon {
  cursor: pointer;
  position: relative;
  justify-self: end;
  align-self: flex-end;
  /* margin: 20px; */
  height: 50px;
  left: 30px;
  bottom: 2px;
  grid-row: 4;
  transform: scale(1.4);
}