.modal-container {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: overlay;
  /* scrollbar-gutter: auto; */
  animation: cardFadein forwards 300ms ease;
}

.modal-container-close {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: overlay;
  /* scrollbar-gutter: auto; */
  animation: modalFadeout forwards 300ms ease;
}

.modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.card {
  position: relative;
  z-index: 1002;
  width: 100vw;
  max-width: 900px;
  height: fit-content;
  background-color: var(--dark-grey);
}

@keyframes modalFadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes cardFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .modal-container {
    animation: cardFadein forwards 300ms ease;
  }

  .modal-container-close {
    animation: cardFadeout forwards 300ms ease;
  }

  @keyframes cardFadein {
    from {
      top: 100vh;
    }
    to {
      top: 0;
    }
  }

  @keyframes cardFadeout {
    from {
      top: 0;
    }
    to {
      top: 100vh;
    }
  }
}
